.pokedex{
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 400px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  
}

.fotoPrueba {
  height: 550px;
  width: 550px;
  z-index: 999;
}